@model CrudViewModel

@{
    List<SelectListItem> cities = ViewBag.Cities;
}


<form asp-controller="Country" asp-action="edit" method="post">
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span> </span>
            <input asp-for="Name" type="text" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-qrcode"></span> </span>
            <input asp-for="FatherName" type="text" class="form-control" />
        </div>
    </div>
  
    <div class="form-group">
        <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-floppy-save"></span>&nbsp; Save</button>
    </div>
</form>